# ETL: Universities API → SQLite (Jupyter Notebook)

Este notebook implementa um pipeline ETL que:
1. **Extrai** os dados da API pública `http://universities.hipolabs.com/search`;
2. **Transforma** e normaliza os registros;
3. **Carrega** os dados em um banco SQLite local;
4. Executa consultas SQL de exemplo demonstrando o uso do banco.

> Observação: este notebook faz requisições HTTP à API pública. Execute as células em seu ambiente local (com internet).

In [1]:
# Requisitos: instale pacotes se necessário
# Execute apenas se necessário: !pip install requests pandas tqdm
try:
    import requests, sqlite3, pandas as pd
except Exception as e:
    print('Você pode precisar instalar dependências: pip install requests pandas tqdm')
    raise

In [2]:

BASE_URL = "https://raw.githubusercontent.com/Hipo/university-domains-list/refs/heads/master/world_universities_and_domains.json"

response = requests.get(BASE_URL)
if response.status_code == 200:
    universities = response.json()
    print(f"Total de registros coletados: {len(universities)}")
else:
    raise Exception(f"Falha ao baixar o JSON: {response.status_code}")

Total de registros coletados: 10185

In [3]:
def transform_data(universities):
    return [
        (
            uni.get("name"),
            uni.get("country"),
            uni.get("state-province"),
            ",".join(uni.get("web_pages", [])),
            ",".join(uni.get("domains", []))
        )
        for uni in universities
    ]

universities_data = transform_data(universities)
print(universities_data[:5])

[('Engineering Institute of Technology', 'Australia', None, 'https://www.eit.edu.au/', 'student.eit.edu.au'), ('Universitas Nusa Putra', 'Indonesia', None, 'https://nusaputra.ac.id', 'nusaputra.ac.id'), ('University of Kyrenia', 'Turkey', None, 'https://kyrenia.edu.tr', 'std.kyrenia.edu.tr,kyrenia.edu.tr'), ('Regent University College of Science and Technology', 'Ghana', None, 'https://regent.edu.gh', 'regent.edu.gh'), ('Wroclaw Akademia Biznesu', 'Poland', None, 'https://wab.edu.pl', 'student.wab.edu.pl,wab.edu.pl')]

In [4]:


DB_PATH = 'universities.db'

# def query_total_by_country(limit=20):
#     conn = sqlite3.connect(DB_PATH)
#     df = pd.read_sql_query(">
#         SELECT country, COUNT(*) AS total
#         FROM universities
#         GROUP BY country
#         ORDER BY total DESC
#         LIMIT :limit
#     ", conn, params={'limit': limit})
#     conn.close()
#     return df

def query_universities_by_country(country):
    conn = sqlite3.connect(DB_PATH)
    df = pd.read_sql_query("""
        SELECT id, name, state_province, domains, web_pages
        FROM universities
        WHERE lower(country) = lower(:country)
        ORDER BY name
    """, conn, params={'country': country})
    conn.close()
    return df

def search_universities_by_name(term, limit=100):
    conn = sqlite3.connect(DB_PATH)
    term_like = f"%{term}%"
    df = pd.read_sql_query("""
        SELECT id, name, country, domains, web_pages
        FROM universities
        WHERE lower(name) LIKE lower(:term)
        ORDER BY country, name
        LIMIT :limit
    """, conn, params={'term': term_like, 'limit': limit})
    conn.close()
    return df

In [9]:
with sqlite3.connect(DB_FILE) as conn:
    df_brasil = pd.read_sql_query("""
        SELECT name, state_province, domains, web_pages
        FROM universities
        WHERE country = 'Brazil'
        ORDER BY name
    """, conn)
    display(df_brasil)

,name,state_province,domains,web_pages
0,Centro Regional Universitário de Espiríto Sant...,None,creupi.br,http://www.creupi.br/
1,Centro Universitário Antônio Eufrásio de Toled...,Presidente Prudente,toledoprudente.edu.br,https://toledoprudente.edu.br/
2,Centro Universitário Barao de Maua,None,baraodemaua.br,http://www.baraodemaua.br/
3,Centro Universitário Claretiano,None,claretiano.edu.br,http://www.claretiano.edu.br/
4,Centro Universitário De Goiás - UNIGOIÁS,Goiânia,unigoias.com.br,https://unigoias.com.br/
...,...,...,...,...
185,Universidade do Sagrado Coração,None,usc.br,http://www.usc.br/
186,Universidade do Sul de Santa Catarina,None,unisul.br,http://www.unisul.br/
187,Universidade do Vale do Itajaí,None,univali.rct-sc.br,http://www.univali.rct-sc.br/
188,Universidade do Vale do Paraíba – Univap,São José dos Campos,univap.br,https://www.univap.br/univap/
189,Universidade para o Desenvolvimento do Alto Va...,None,unidavi.rct-sc.br,http://www.unidavi.rct-sc.br/

In [7]:
with sqlite3.connect(DB_FILE) as conn:
    df_top10 = pd.read_sql_query("""
        SELECT country, COUNT(*) AS total
        FROM universities
        GROUP BY country
        ORDER BY total DESC
        LIMIT 10
    """, conn)
    display(df_top10)

              country  total
0       United States   2348
1               Japan    572
2               India    473
3               China    397
4             Germany    318
5  Russian Federation    309
6              France    297
7  Korea, Republic of    244
8      United Kingdom    195
9                Iran    193

In [8]:
with sqlite3.connect(DB_FILE) as conn:
    df_termo = pd.read_sql_query("""
        SELECT name, country, web_pages
        FROM universities
        WHERE name LIKE '%Technology%'
        ORDER BY country, name
        LIMIT 50
    """, conn)
    display(df_termo)

,name,country,web_pages
0,Engineering Institute of Technology,Australia,https://www.eit.edu.au/
1,"Institute Of Technology, Australia",Australia,http://www.iota.edu.au/
2,Queensland University of Technology,Australia,http://www.qut.edu.au/
3,Royal Melbourne Institute of Technology,Australia,http://www.rmit.edu.au/
4,Swinburne University of Technology,Australia,http://www.swin.edu.au/
5,University of Technology Sydney,Australia,http://www.uts.edu.au/
6,Institute of Science and Technology,Austria,http://www.ist.ac.at/
7,New York Instiute of Technology,Bahrain,http://www.nyit.edu.bh/
8,Ahsanullah University of Science & Technology,Bangladesh,http://www.aust.edu/
9,Bangladesh University of Business & Technology,Bangladesh,http://www.bubt.edu.bd/
10,Bangladesh University of Engineering and Techn...,Bangladesh,http://www.buet.ac.bd/
11,Chittagong University of Engineering and Techn...,Bangladesh,http://www.cuet.ac.bd/
12,Dhaka University of Engineering and Technology,Bangladesh,http://www.duet.ac.bd/
13,Hajee Mohammad Danesh Science and Technology U...,Bangladesh,http://www.hstu.ac.bd/
14,International University of Business Agricultu...,Bangladesh,http://www.iubat.edu/
15,Islamic University of Technology,Bangladesh,http://www.iutoic-dhaka.edu/
16,Khulna University of Engineering And Technology,Bangladesh,http://www.kuet.ac.bd/
17,Mawlana Bhashani Science And Technology Univer...,Bangladesh,http://www.mbstu.ac.bd/
18,Military Institute of Science and Technology,Bangladesh,http://www.mist.ac.bd/
19,Noakhali University of Science and Technology,Bangladesh,http://www.nstu.edu.bd/
20,Pabna University of Science and Technology,Bangladesh,http://www.pust.ac.bd/
21,Patuakhali Science and Technology University,Bangladesh,http://www.pstu.ac.bd/
22,Rajshahi University of Engineering and Technology,Bangladesh,http://www.ruet.ac.bd/
23,Shahjalal University of Science and Technology,Bangladesh,http://www.sust.edu/
24,University of Information Technology & Sciences,Bangladesh,http://www.uits.edu.bd/
25,University of Science & Technology Chittagong,Bangladesh,http://www.ustc.ac.bd/
26,Sarajevo School of Science and Technology,Bosnia and Herzegovina,https://ssst.edu.ba/
27,Botswana International University of Science &...,Botswana,http://www.biust.ac.bw/
28,"New Era College of Arts, Science & Technology",Botswana,http://www.neweracollege.ac.bw/
29,University of Chemical Technology and Metallurgy,Bulgaria,http://www.uctm.edu/
30,University of Food Technology,Bulgaria,http://www.uft-plovdiv.bg/
31,Chamreun University of Poly Technology,Cambodia,http://www.cup.edu.kh/
32,University of Technology Phnom Penh,Cambodia,http://www.utpp.edu.kh/
33,Bamenda University of Science & Technology,Cameroon,http://www.bamendauniversity.com/
34,British Columbia Institute of Technology,Canada,http://www.bcit.ca/
35,DeVry Institute of Technology,Canada,http://www.cal.devry.ca/
36,Nicola Valley Institute of Technology,Canada,http://www.nvit.bc.ca/
37,Northern Alberta Institute of Technology,Canada,http://www.nait.ca/
38,Southern Alberta Institute of Technology,Canada,http://www.sait.ca/
39,University of Ontario Institute of Technology,Canada,http://www.uoit.ca/
40,Beijing Information Science and Technology Uni...,China,http://www.biti.edu.cn/
41,Beijing Institute of Technology,China,http://www.bit.edu.cn/
42,Beijing University of Chemical Technology,China,http://www.buct.edu.cn/
43,Changchun University of Science and Technology,China,"http://www.cust.edu.cn,http://ieec.cust.edu.cn/"
44,Changchun University of Technology,China,http://www.ccut.edu.cn/
45,Chengdu University of Technology,China,http://www.cdut.edu.cn/
46,China University of Mining Technology - Beijing,China,http://www.cumtb.edu.cn/
47,China University of Mining Technology - Xuzhou,China,http://www.cumt.edu.cn/
48,Chongqing Technology and Business University,China,http://www.ctbu.edu.cn/
49,Chongqing University of Science and Technology,China,http://www.cqust.cn/